{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<!-- Header START -->
{{ include('components/header.html.twig') }}
<!-- Header END -->

<div class="px-3 px-xl-5 py-5">

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">All Bookings</h2>

    <a href="{{ path('booking_create') }}" class="btn btn-primary">
        <i class="bi bi-calendar-plus me-1"></i> New booking
    </a>
</div>
       

	        <div class=" card-body">
				<!-- Course table START -->
				<div class="table-responsive border-0 rounded-3">
					<!-- Table START -->
					<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
						<!-- Table head -->
						<thead>
							<tr>
								<th scope="col" class="border-0 rounded-start">First Name</th>
								<th scope="col" class="border-0">Last Name</th>
								<th scope="col" class="border-0">email </th>
								<th scope="col" class="border-0">Phone number</th>
								<th scope="col" class="border-0 rounded-end">Action</th>
							</tr>
						</thead>

						<!-- Table body START -->
						<tbody>
							 {% for booking in bookings %}
							<!-- Table row -->
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img src="assets/images/courses/4by3/08.jpg" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="#" class="stretched-link">{{ booking.getFirstName() }}</a>
										</h6>
									</div>
								</td>

								<td>
									<div class="d-flex align-items-center">
										<div class="avatar avatar-xs flex-shrink-0">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
										</div>
										<div class="ms-2">
											<h6 class="mb-0 fw-light">{{ booking.getLastName() }}</h6>
										</div>
									</div>
								</td>

								<td>
									{{ booking.getUserEmail() }}
								</td>

								<td>{{ booking.getPhoneNumber() }}</td>

								<td>
									<a href="#" 
                                        class="btn btn-sm btn-success me-1  mb-md-0" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#modal"
                                        data-id="{{ booking.id }}"
                                        data-first-name="{{ booking.firstName }}"
                                        data-last-name="{{ booking.lastName }}"
                                        data-email="{{ booking.userEmail }}"
                                        data-phone="{{ booking.phoneNumber }}">
                                            Edit
                                    </a>
								<button
                                    class="btn btn-danger btn-sm mb-0"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                    data-id="{{ booking.id }}"
                                    data-token="{{ csrf_token('delete_booking_' ~ booking.id) }}"
                                                        >
                                    Delete
                                </button>


                                        
								</td>
							</tr>
                                  {% else %}
                                    <li class="list-group-item">No bookings available</li>
                             {% endfor %}
                           
						</tbody>
					</table>
				</div>
			</div>

</div>

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="viewReviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal header -->
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="viewReviewLabel">Edit booking</h5>
                    <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <!-- Modal body -->

                <form method="post" action="{{ path('booking_update') }}">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="modalId">

                        <div class="mb-3">
                            <label>First Name</label>
                            <input type="text" id="modalFirstName" class="form-control" name="firstName">
                        </div>

                        <div class="mb-3">
                            <label>Last Name</label>
                            <input type="text" id="modalLastName" class="form-control" name="lastName">
                        </div>

                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" id="modalEmail" class="form-control" name="userEmail">
                        </div>

                        <div class="mb-3">
                            <label>Phone</label>
                            <input type="text" id="modalPhone" class="form-control" name="phoneNumber">
                        </div>
                    </div>
                
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                                Save changes
                        </button>
                        <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

 <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white">
                    Are you sure you want to delete this booking?
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <form method="post" action="{{ path('booking_delete') }}">
                <div class="modal-body text-center">

                    <input type="hidden" name="id" id="modalId">
                    <input type="hidden" name="_token" id="deleteToken">

                    <button type="submit" class="btn btn-danger me-2">
                        <i class="bi bi-trash"></i> Delete
                    </button>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>

                </div>
            </form>

        </div>
    </div>
</div>




<script>
    function openModal() {
        let modal = new bootstrap.Modal(document.getElementById('modal'));
        modal.show();
    }

    function closeModal() {
        let modalEl = document.getElementById('modal');
        let modal = bootstrap.Modal.getInstance(modalEl);
        modal.hide();
    }


    document.getElementById('modal').addEventListener('show.bs.modal', function (event) {

    const button = event.relatedTarget;

        document.getElementById('modalId').value = 
            button.getAttribute('data-id');

        document.getElementById('modalFirstName').value = 
            button.getAttribute('data-first-name');

        document.getElementById('modalLastName').value =
            button.getAttribute('data-last-name');

        document.getElementById('modalEmail').value =
            button.getAttribute('data-email');

        document.getElementById('modalPhone').value =
            button.getAttribute('data-phone');
    });
</script>

<script>

    document.getElementById('deleteModal').addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;

        document.getElementById('modalId').value = button.getAttribute('data-id');
        document.getElementById('deleteToken').value = button.getAttribute('data-token');
    });

    var deleteModal = document.getElementById('deleteModal');

    deleteModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Get data from button attributes
        var bookingId = button.getAttribute('data-id');
        var csrfToken = button.getAttribute('data-token');

        // Update hidden inputs in the modal
        var modalIdInput = deleteModal.querySelector('#modalId');
        var modalTokenInput = deleteModal.querySelector('#deleteToken');

        modalIdInput.value = bookingId;
        modalTokenInput.value = csrfToken;
    });

</script>


            <!-- Footer START -->
{{ include('components/footer.html.twig') }}
<!-- Footer END -->
{% endblock %}


