{% extends 'front_base.html.twig' %}

{% block title %}Edit Job Request - {{ job.title }}{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h4 class="mb-0">
                        <i class="bi bi-pencil me-2"></i>Edit Job Request
                    </h4>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    
                    <div class="row g-3">
                        <div class="col-12">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.budget) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.category) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.status) }}
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-between">
                                <a href="{{ path('app_marketplace_index') }}" class="btn btn-secondary">
                                    <i class="bi bi-arrow-left me-1"></i>Back to Marketplace
                                </a>
                                <button type="submit" class="btn btn-info">
                                    <i class="bi bi-check me-1"></i>Update Job Request
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
